html, body
{
	 height: 100%
	 margin: 0px;
	 padding: 0px;
	 background-color: black;
	 color: #05C5FF;
	 font-family: "Trebuchet MS";
}

#map-canvas 
{
	height: 560px;
	width: 700px;
	display: block;
	margin: 10px auto;
}

#search
{
	margin: 0 auto;
	display: block;
	text-align: center;
}

#header
{
	margin: 0 auto;
	display: block;
	text-align: center;
}

#thisTweet
{
	margin: 10px auto;
	display: block;
	text-align: center;
	width: 700px;
	border: 1px solid #05C5FF;
}